<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
  <div class="col-xl-6 col-md-12">
                                                <!-- username in ng if  *ngIf=""  --> 
                                                <div class="card user-card-full"  >  
                                                    <div class="row m-l-0 m-r-0">
                                                        <div class="col-sm-4 bg-c-lite-green user-profile">
                                                            <div class="card-block text-center text-white">
                                                                <div class="m-b-25">
                                                                    <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image">
                                                                </div>
                                                                <!-- <h6 class="f-w-600">first namd last name</h6> -->
                                                        
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div class="card-block">
                                                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">First Name</p>
                                                                        <input type="text" class="form-control" [(ngModel)]="user.firstname" #firstname="ngModel" >
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">Last Name</p>
                                                                        <input type="text" class="form-control" [(ngModel)]="user.lastname" #lastname="ngModel" >
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">User Name</p>
                                                                        <input type="text" class="form-control" [(ngModel)]="user.username" #username="ngModel" >
                                                                    </div>
                                                                </div>
                                                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Contact</h6>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">Email</p>
                                                                        <input type="text" class="form-control" [(ngModel)]="user.contact.email" #email="ngModel" readonly>

                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">Phone No</p>
                                                                        <input type="text" class="form-control" [(ngModel)]="user.contact.phno" #phno="ngModel" >
                                                                    </div>
                                                                </div>
                                                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Address</h6>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">Apartment No</p>
                                                                        <input type="text" class="form-control" [(ngModel)]="user.contact.address.aptno" #aptno="ngModel" >

                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">City</p>
                                                                        <input type="text" class="form-control" [(ngModel)]="user.contact.address.city" #city="ngModel" >
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">Street</p>
                                                                        <input type="text" class="form-control" [(ngModel)]="user.contact.address.street" #street="ngModel" >
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">State</p>
                                                                        <input type="text" class="form-control" [(ngModel)]="user.contact.address.state" #state="ngModel" >
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">Country</p>
                                                                        <input type="text" class="form-control" [(ngModel)]="user.contact.address.country" #country="ngModel" >
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">Zip</p>
                                                                        <input type="text" class="form-control" [(ngModel)]="user.contact.address.pincode" #pincode="ngModel" >
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="row" >
                                                                    <div class="col-sm-6"> 
                                                                        <button type="submit" (click)="updateProfile()" class="btn btn-primary btn-block"> Update </button>
                                                                    </div>
                                                                </div>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                             </div>
                                                </div>
                                            </div>
