<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<div class="container bootdey">
    <div class="panel panel-default panel-order">
        <div class="panel-heading">
            <strong>Order history</strong>
        </div>

        <div class="panel-body">
    
            <div class="row" *ngFor="let order of orders ">
                <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_2.jpg" class="media-object img-thumbnail" /></div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right"><label class="label label-info">{{order.status}}</label></div>
                            <span><strong>Order Id</strong>: {{order.id}}</span> <br>
                            Quantity : {{order.id}}<br> 
                            cost: ${{order.totalprice}}<br />
                            <!-- <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                            <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
                            <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a> -->
                        </div>
                        <div class="col-md-12">order made on: 06/20/2014 by <a href="#">{{order.userMail}}</a></div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>