<div class="row">
    <div class="col-75">
      <div class="container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  
          <div class="row">
            <div class="col-50">
              <h2>Billing Address</h2>
                <br/>
                <br/>
                <br/>
                <br/>
             
              <div class="form-group">
                <label>Street</label>
                <input type="text" formControlName="street" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" />
                <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                    <div *ngIf="f.street.errors.required">Street is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="city"><i class="fa fa-institution"></i> City</label>
                <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                     <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                         <div *ngIf="f.city.errors.required">City is required</div>
                    </div>  
            </div>
  
              <div class="row">
                <div class="form-group">
                    <label>State</label>
                    <input type="text" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                        <div *ngIf="f.state.errors.required">State is required</div>
                    </div>  
                </div>
                <div class="form-group">
                    <label>Pin Code</label>
                    <input type="text" formControlName="pincode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" />
                    <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                        <div *ngIf="f.pincode.errors.required">Pin Code is required</div>
                    </div>
                </div>
              </div>
            </div>
  
          </div>

          <input type="submit" (click)="onSubmit()" value="Continue to checkout" class="btn btn-primary">
        </form>
      </div>
    </div>
  

  